<!-- footer section starts  -->
<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3> PairPearl Pharmacy <i class="fa-solid fa-pills"></i></h3>
            <!--<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, saepe.</p> -->
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#" class="links"> <i class="fas fa-phone"></i> +123-456-7890 </a>
            <a href="#" class="links"> <i class="fas fa-phone"></i> +111-222-3333 </a>
            <a href="#" class="links"> <i class="fas fa-envelope"></i> pairpearl@gmail.com </a>
            <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Selangor, Malaysia </a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="index.ejs" class="links"> <i class="fas fa-arrow-right"></i> Home </a>
            <a href="product.ejs" class="links"> <i class="fas fa-arrow-right"></i> Products </a>
            <a href="orderHistory.ejs" class="links"> <i class="fas fa-arrow-right"></i> Order History </a>
            <a href="profile.ejs" class="links"> <i class="fas fa-arrow-right"></i> Profile </a>
        </div>

    </div>

    <div class="credit"> created by <span> PairPearl </span> | all rights reserved </div>

</section>















<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>