<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PairPearl Online Pharmacy</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/UserStyle.css">

</head>
<body>
    
<!-- header section starts  -->

<header class="header">

    <a href="index.ejs" class="logo"><i class="fa-solid fa-pills"></i> PairPearl Pharmacy </a>

    <nav class="navbar">
        <a href="index.ejs">Home</a>
        <a href="#features">Features</a>
        <a href="users/UserProduct.ejs">Products</a>
        <a href="users/UserOrderHistory.ejs">Order History</a>
        <a href="users/UserProfile.ejs">Profile</a>
    </nav>

    <div class="icons">
        <div class="fas fa-bars" id="menu-btn"></div>
        <div class="fas fa-search" id="search-btn"></div>
        <a href="UserCart.ejs"><div class="fas fa-shopping-cart" id="cart-btn"></div><span style="font-size: medium;">0</span></i></a>
        <div class="fas fa-user" id="login-btn"></div>
    </div>

    <form action="" class="search-form">
        <input type="search" id="search-box" placeholder="search product name / category">
        <label for="search-box" class="fas fa-search"></label>
    </form>

    <form action="" class="login-form">
        <h3>login now</h3>
        <input type="email" placeholder="your email" class="box">
        <input type="password" placeholder="your password" class="box">
        <p>don't have an account <a href="signup.ejs">create now</a></p>
        <input type="submit" value="login now" class="btn">
    </form>
</header>

<!-- header section ends -->