<%- include('_header'); -%>

<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        <h3>Your <span>Online</span> Pharmacy</h3>
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam libero nostrum veniam facere tempore nisi.</p>
        --><a href="#" class="btn">Buy Now</a>
    </div>

</section>

<!-- home section ends -->

<!-- order history section starts  -->
<section>
    <div class="col-12 tm-block-col">
        <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
            <h3 class="heading"> Tracking Order</h3>
            <table class="table" style="font-size: small;">
                <thead>
                    <tr>
                        <th scope="col">ORDER NO.</th>
                        <th scope="col">STATUS</th>
                        <th scope="col">OPERATORS</th>
                        <th scope="col">LOCATION</th>
                        <th scope="col">COURIER</th>
                        <th scope="col">START DATE</th>
                        <th scope="col">EST DELIVERY DUE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><b>#122349</b></th>
                        <td>
                            <div class="tm-status-circle moving">
                            </div>Moving
                        </td>
                        <td><b>Amira Adani</b></td>
                        <td><b>Gopeng, Perak</b></td>
                        <td><b>JNT EXPRESS</b></td>
                        <td>16:00, 12 JUNE 2022</td>
                        <td>17:00, 17 JUNE 2022</td>
                    </tr>
                    <tr>
                        <th scope="row"><b>#122348</b></th>
                        <td>
                            <div class="tm-status-circle pending">
                            </div>Pending
                        </td>
                        <td><b>Amira Adani</b></td>
                        <td><b>Gopeng, Perak</b></td>
                        <td><b>JNT EXPRESS</b></td>
                        <td>11:00, 10 JUNE 2022</td>
                        <td>16:00, 14 JUNE 2022</td>
                    </tr>
                    <tr>
                        <th scope="row"><b>#122347</b></th>
                        <td>
                            <div class="tm-status-circle cancelled">
                            </div>Cancelled
                        </td>
                        <td><b>Amira Adani</b></td>
                        <td><b>Gopeng, Perak</b></td>
                        <td><b>JNT EXPRESS</b></td>
                        <td>12:00, 02 MEI 2022</td>
                        <td>06:00, 07 MEI 2022</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- order history section ends -->

<%- include('_footer'); -%>