<%- include('_header'); -%>

<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        <h3>Your <span>Online</span> Pharmacy</h3>
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam libero nostrum veniam facere tempore nisi.</p>
        --><a href="#" class="btn">Buy Now</a>
    </div>

</section>

<!-- home section ends -->

<!-- products section starts  -->

<section class="products" id="products">

    <h1 class="heading"> all <span>products</span> </h1>

    <div class="swiper product-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="image/product1.jpg" alt="">
                <h3>Diphenoxylate + Atropine sulphate
                </h3>
                <div class="price">RM48.40</div>
                <p style="font-size: medium; text-align: left;">
                    Diphenoxylate and atropine combination 
                    is used along with other measures 
                    (eg, fluid and electrolyte treatment) to treat severe diarrhea.
                </p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="addCart cart1">add to cart</a>
            </div>

            <div class="swiper-slide box">
                <img src="image/product9.jpg" alt="">
                <h3>Hurix Fluaway Capsules</h3>
                <div class="price">RM6.38</div>
                <p style="font-size: medium; text-align: left;">
                    To relief of flu and common cold, running nose and nasal congestion.
                </p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="addCart cart2">add to cart</a>
            </div>

            <div class="swiper-slide box">
                <img src="image/product3.jpg" alt="">
                <h3>Buscopan IBS Relief (10mg)</h3>
                <div class="price">RM30.80</div>
                <p style="font-size: medium; text-align: left;">
                    Buscopan IBS Relief effectively relieves cramping 
                    abdominal pain and discomfort associated with IBS</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="addCart cart3">add to cart</a>
            </div>

            <div class="swiper-slide box">
                <img src="image/product4.jpg" alt="">
                <h3>Metoclopramide HCL (10mg)</h3>
                <div class="price">RM70.43</div>
                <p style="font-size: medium; text-align: left;">
                    Metoclopramide is used to treat the symptoms 
                    of slow stomach emptying (gastroparesis) in patients with diabetes.
                </p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#"class="addCart cart4">add to cart</a>
            </div>

        </div>

    </div>

    <div class="swiper product-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="image/product5.jpg" alt="">
                <h3>Loratadine 10mg</h3>
                <div class="price">RM24.00</div>
                <p style="font-size: medium; text-align: left;">
                    Loratadine is used to treat allergy symptoms, 
                    including runny or stuffy nose, sneezing, watery eyes, 
                    and itching of the eyes, nose or throat.
                </p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#"class="addCart cart5">add to cart</a>
            </div>

            <div class="swiper-slide box">
                <img src="image/product6.jpg" alt="">
                <h3>Chlorphenamine (4mg)</h3>
                <div class="price">RM7.00 </div>
                <p style="font-size: medium; text-align: left;">
                    Chlorpheniramine relieves red, itchy, watery eyes; 
                    sneezing; itchy nose or throat; and runny nose caused by allergies, 
                    hay fever, and the common cold. 
                   </p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="addCart cart6">add to cart</a>
            </div>

            <div class="swiper-slide box">
                <img src="image/product7.jpg" alt="">
                <h3>Hurix Gamat</h3>
                <div class="price">RM8.60 </div>
                <p style="font-size: medium; text-align: left;">
                    Hurix’s Sirap Ubat Batuk Gamat & Madu Plus cough syrup 60ml
                    <br><br>Traditionally used for reducing phlegm, relief of cough, 
                    sore throat, hoarseness, body heatiness and cold.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="addCart cart7">add to cart</a>
            </div>

            <div class="swiper-slide box">
                <img src="image/product8.jpg" alt="">
                <h3>Panadol Actifast</h3>
                <div class="price">RM8.00 </div>
                <p style="font-size: medium; text-align: left;">
                    Panadol ActiFast is a mild analgesic and antipyretic, 
                    and is recommended for the treatment of most painful 
                    and febrile conditions, for example, headache including 
                    migraine and tension headaches, toothache, backache, rheumatic and muscle pains,etc.
                    </p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="addCart cart8">add to cart</a>
            </div>

        </div>

    </div>


</section>
<!-- products section ends -->

<%- include('_footer'); -%>