<%- include('_header'); -%>
<style>

    /* Let's make sure all tables have defaults */
    table td {
        vertical-align: top;
    }
    
    
    
    /* -------------------------------------
        INVOICE
        Styles for the billing table
    ------------------------------------- */
    .invoice {
        margin: 40px auto;
        text-align: left;
        width: 80%;
    }
    .invoice td {
        padding: 5px 0;
    }
    .invoice .invoice-items {
        width: 100%;
    }
    .invoice .invoice-items td {
        border-top: #eee 1px solid;
    }
    .invoice .invoice-items .total td {
        border-top: 2px solid #333;
        border-bottom: 2px solid #333;
        font-weight: 700;
        text-align: right;
        align-items: right;
    }
    
    /* -------------------------------------
        RESPONSIVE AND MOBILE FRIENDLY STYLES
    ------------------------------------- */
        </style>
    
<!-- header section starts  -->

<header class="header">

    <a href="users/UserDashboard.ejs" class="logo"><i class="fa-solid fa-pills"></i> PairPearl Pharmacy </a>

    <nav class="navbar">
        <a href="users/UserDashboard.ejs">Home</a>
        <a href="#features">Features</a>
        <a href="users/UserProduct.ejs">Products</a>
        <a href="users/UserOrderHistory.ejs">Order History</a>
        <a href="users/UserProfile.ejs">Profile</a>
    </nav>

    <div class="icons">
        <div class="fas fa-bars" id="menu-btn"></div>
        <div class="fas fa-search" id="search-btn"></div>
        <a href="users/UserCart.ejs"><div class="fas fa-shopping-cart" id="cart-btn"></div><span style="font-size: medium ;">0</span></i></a>
        <div class="fas fa-user" id="login-btn"></div>
    </div>

    <form action="" class="search-form">
        <input type="search" id="search-box" placeholder="search product name / category">
        <label for="search-box" class="fas fa-search"></label>
    </form>


    <form action="" class="login-form">
        <h3>login now</h3>
        <input type="email" placeholder="your email" class="box">
        <input type="password" placeholder="your password" class="box">
        <p>forget your password <a href="#">click here</a></p>
        <p>don't have an account <a href="#">create now</a></p>
        <input type="submit" value="login now" class="btn">
    </form>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        <h3>Your <span>Online</span> Pharmacy</h3>
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam libero nostrum veniam facere tempore nisi.</p>
        --><a href="#" class="btn">Buy Now</a>
    </div>

</section>

<!-- home section ends -->

<!-- cart section starts  -->

<section>
    <div class="container">
        <h2 class="heading">Receipt</h1>
        <div class="row">
            <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <address style="font-size: large;">
                            <strong>Pairpearl Pharmacy</strong>
                            <br>
                            Shah Alam,
                            <br>
                            Selangor, Malaysia
                            <br>
                            <abbr title="Phone">P:</abbr> +123-456-7890
                        </address>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right" style="font-size: large;">
                        <p>
                            <em>Date: 12 JUNE 2022</em>
                        </p>
                        <p>
                            <em>Invoice #: 122348</em>
                        </p>
                    </div>
                </div>
                <div class="row">
                    </span><br><br>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-md-9"><em>Panadol Actifast</em></h4></td>
                                <td class="col-md-1" style="text-align: center"> 2 </td>
                                <td class="col-md-1 text-center">RM8.00</td>
                                <td class="col-md-1 text-center">RM16.00</td>
                            </tr>
                            <tr>
                                <td class="col-md-9"><em>Hurix Gamat</em></h4></td>
                                <td class="col-md-1" style="text-align: center"> 1 </td>
                                <td class="col-md-1 text-center">RM8.60</td>
                                <td class="col-md-1 text-center">RM8.60</td>
                            </tr>
                            <tr>
                                <td>   </td>
                                <td>   </td>
                                <td class="text-right">
                                <p>
                                    <strong>Subtotal: </strong>
                                </p>
                                <p>
                                    <strong>Tax: </strong>
                                </p></td>
                                <td class="text-center">
                                <p>
                                    <strong>RM24.60</strong>
                                </p>
                                <p>
                                    <strong>RM5.00</strong>
                                </p></td>
                            </tr>
                            <tr>
                                <td>   </td>
                                <td>   </td>
                                <td class="text-right"><h4><strong>Total: </strong></h4></td>
                                <td class="text-center text-danger"><h4><strong>RM29.60</strong></h4></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
</section>

<!-- cart section ends -->
<%- include('_footer'); -%>