<%- include('_header'); -%>
<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        <h3>Your <span>Online</span> Pharmacy</h3>
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam libero nostrum veniam facere tempore nisi.</p>
        --><a href="#" class="btn">Buy Now</a>
    </div>

</section>

<!-- home section ends -->

<!-- cart section starts  -->

<section class="cont" id="cart">
    <h3 class="heading"> Carts</h3>
    <div class="products-container">
		<div class="product-header">
				<table>
        		<th><h5 class="product-title">PRODUCT</h5></th>
				<th><h5 class="price">PRICE</h5></th>
				<th><h5 class="quantity">QUANTITY</h5></th>
					<th><h5 class="total">SUBTOTAL</h5></th>
		
		<tbody class="products2"></tbody>
        
						
	</table>
		</div>
        <a href="users/UserPayment.ejs" class="btn">Checkout</a>
	</div>
    
</section>

<!-- cart section ends -->

<%- include('_footer'); -%>